body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
}

/* navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 54px;
    margin: 0 auto;
}

.navigation__left {
    color: #448899;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}

.navigation__right {
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.navigation__right-booking, .navigation__right-signin {
    padding: 10px;
}

/* hero-section */
.hero {
    height: 320px;
    margin: 0 auto;
    background: url(/views/public/welcome\ image.png), linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    background-size: cover;
    background-position: center 0px;
    display: flex;
    align-items: center;
}

.hero__slogan {
    width: 88%;
    height: 169px;
    margin: 0 auto;
}

.hero__slogan-main {
    color: #f8f8f8;
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 0px 0px 30px 0px #AABBCC;
}

.hero__slogan-sub {
    color: #f8f8f8;
    font-size: 16px;
    line-height: 13.3px;
    font-weight: 700;
    margin-top: 30px;
}

/* hero-section__search */
.hero__search {
    width: 285px;
    height: 46px;
    margin-top: 25px;
    display: flex;
}

.hero__search-input {
    width: 225px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 13.3px;
    padding-left: 15px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
    border-radius: 3px 0 0 3px;
}

.hero__search-button {
    background-image: url(/views/public/icon_search.png);
    background-repeat: no-repeat;
    background-position: center ;
    width: 60px;
    background-color: #448899;
    border: none;
    border-radius: 0 3px 3px 0;
}

.main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 55px;
}

/* list-bar */
.list-bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-bar__arrow {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    background-position: center;
    border: none;
}

.list-bar__arrow--left {
    background-image: url(/views/public/LeftArrow_Default.png);
}

.list-bar__arrow--right {
    background-image: url(/views/public/RightArrow_Default.png);
}

.list-bar__arrow--left:hover {
    background-image: url(/views/public/LeftArrow_Hovered.png);
}

.list-bar__arrow--right:hover {
    background-image: url(/views/public/RightArrow_Hovered.png);
}

.list-bar__container {
    width: calc(90% - 64px);
    height: 24px;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.list-bar__container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.list-bar__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: center;
    color: #666666;
    text-decoration: none;
    flex-shrink: 0;
}

.list-bar__item:link,
.list-bar__item:visited,
.list-bar__item:active {
    color: #666666;
}

.list-bar__item:hover {
    color: #000000;
}

/* attractions */
.attractions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

.attraction-card {
    width: 322px;
    height: 280px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}

.attraction-card__image {
    height: 235px;
    background-image: url(/views/public/temp.png);
    background-position: center;
    background-size: 130%;
    display: flex;
    flex-direction: column;
}

.attraction-card__name {
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 45px; /* vertical-center */
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attraction-card__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #757575;
}

/* footer */
.footer {
    height: 104px;
    background: #757575;
    display: flex;
    align-items: center;
}

.footer__text {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
}

@media (min-width: 450px) and (max-width: 800px) {
    .navigation {
        width: 90%;
    }

    .hero__slogan {
        width: 80%;
    }

    .hero__search {
        width: 380px;
    }

    .hero__search-input {
        width: 320px;
    }
}

@media (min-width: 800px) and (max-width: 1130px) {
    .navigation {
        width: 90%;
    }

    .hero__slogan {
        width: 80%;
    }

    .hero__search {
        width: 460px;
    }

    .hero__search-input {
        width: 400px;
    }

    .main {
        width: 90%;
    }

    .list-bar__container {
        width: calc(90% - 64px);
    }

    .attractions {
        margin: 0 auto; 
        width: 690px;
        grid-template-columns: repeat(2, 1fr);
    }

    .attraction-card {
        width: 322px;
        height: 280px;
    }

    .attraction-card__image {
        height: 235px;
    }
}

@media (min-width: 1130px) and (max-width: 1280px) {
    .navigation {
        width: 90%;
    }

    .hero__slogan {
        width: 80%;
    }

    .hero__search {
        width: 460px;
    }

    .hero__search-input {
        width: 400px;
    }

    .main {
        width: 90%;
        min-height: calc(100vh - 528px);
    }

    .list-bar__container {
        width: calc(90% - 64px);
    }

    .attractions {
        margin: 0 auto; 
        width: 1040px;
        grid-template-columns: repeat(3, 1fr);
    }

    .attraction-card {
        width: 316px;
        height: 280px;
    }

    .attraction-card__image {
        height: 235px;
    }
}

@media (min-width: 1280px) {
    .navigation {
        width: 1200px;
    }

    .hero__slogan {
        width: 1200px;
    }

    .hero__search {
        width: 460px;
    }

    .hero__search-input {
        width: 400px;
    }

    .main {
        width: 1200px;
        min-height: calc(100vh - 528px);
    }

    .list-bar__container {
        width: calc(1200px - 64px);
    }

    .attractions {
        width: 1200px;
        grid-template-columns: repeat(4, 270px);
    }

    .attraction-card {
        width: 270px;
        height: 242px;
    }

    .attraction-card__image {
        height: 197px;
    }
}