body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
}

.navigation {
    border-bottom: 1px solid #E8E8E8; 
}

input {
    font-weight: 500;
    width: 190px;
    height: 38px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #E8E8E8
}

/* navigation */
.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    margin: 0 auto;

    width: 1200px;
}

.navigation__left {
    color: #448899;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    cursor: pointer;
}


.navigation__right {
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.navigation__right-booking, .navigation__right-signin {
    padding: 10px;
    cursor: pointer;
    display: none;
}



.main {
    width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 155px); 
}

/* journey */
.journey {
    color: #666666;
    border-bottom: 1px solid #E8E8E8; 
    padding-bottom: 60px;
    margin-bottom: 40px;
    position: relative;
}

.journey__greet{
    margin:40px 0 30px 100px;
    font-size: 19px;
    font-weight: 700;
}

.journey__section {
    margin-left: 110px;
    display: none;
}

.journey__greet--reply {
    margin-top: 30px;
    font-weight: 400;
    line-height: 13.3px;
}

.section__date, .section__time, .section__cost {
    margin-bottom: 10px;
}


.section__image {
    width: 250px;
    height: 200px;
    margin-right: 30px;
    background-position: center;
    background-size: cover;
}

.section__attraction {
    color: #448899;
    margin: 5px 0 20px 0;
    font-weight: 700;
    line-height: 13.3px;
}

.section__item {
    font-weight: 700;
    line-height: 13.3px;
}

.journey__delete {
    width: 30px;
    height: 30px;
    position: absolute;
    top:50px;
    right:100px;
    background-image: url(/views/public/icon_delete.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

/* contact */
.contact {
    color: #666666;
    border-bottom: 1px solid #E8E8E8; 
    display: none;
}

.contact__container {
    margin:40px 0 40px 110px;
}

.contact__title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact__form {
    font-weight: 400;
    line-height: 13.3px;
    margin-bottom: 15px;
}


.contact__footer {
    font-weight: 700;
    line-height: 13.3px;
}


/* payment */
.payment {
    color: #666666;
    border-bottom: 1px solid #E8E8E8; 
    display: none;
}

.payment__container {
    margin:40px 0 40px 110px;
}

.payment__title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.payment__form {
    font-weight: 400;
    line-height: 13.3px;
    margin-bottom: 15px;
}


/* confirm */
.confirm {
    padding: 30px 110px 62px 0;
    text-align: right;
    display: none;
}

.confirm__cost {
    color: #666666;
    font-weight: 700;
    line-height: 13.3px;
    margin-bottom: 22px;
}

.confirm__submit {
    margin-left: 20px;
    width: 173px;
    height: 36px;
    font-size: 19px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #448899;
    color: #ffffff;
    border: 0px;
    letter-spacing: 1.0px;
}


/* footer */
.footer {
    height: 104px;
    background: #757575;
    display: flex;
    align-items: center;
}

.footer__text {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
}


@media (min-width: 360px) and (max-width: 430px) {
    .navigation__container {
        width: calc(100% - 21px);
        margin: 0 auto;
    }

    .main {
        width: calc(100% - 20px);
    }

    .journey__greet{
        margin: 40px 0 30px 10px ;
    }

    .journey__section {
        width: 100%;
        margin-left: 0px;
    }

    .section__image {
        padding: 0 10px 0 10px;
        margin: 0 auto;
        width: 95%;
    }

    .contact__container {
        margin: 40px 0 40px 0px;
    }

    .contact__footer {
        line-height: 23.17px;
    }

    .payment__container {
        margin: 40px 0 0 0px;
    }

    .confirm {
        padding: 40px 10px 62px 0;
    }

    .journey__delete {
        width: 30px;
        height: 30px;
        display: absolute;
        top: 455px;
        right:10px;
        background-image: url(/views/public/icon_delete.svg);
        background-repeat: no-repeat;
    }
    
}

@media (min-width: 430px) and (max-width: 540px) {
    .navigation__container {
        width: calc(100% - 21px);
        margin: 0 auto;
    }

    .main {
        width: calc(100% - 20px);
    }

    .journey__greet{
        margin: 40px 0 30px 10px ;
    }

    .journey__section {
        width: 100%;
        margin-left: 0px;
    }

    .section__image {
        padding: 0 10px 0 10px;
        margin: 0 auto;
        width: 95%;
    }

  

    .contact__container {
        margin: 40px 0 40px 0;
    }

    .contact__footer {
        line-height: 23.17px;
    }

    .payment__container {
        margin: 40px 0 0 0;
    }

    .confirm {
        padding: 40px 10px 62px 0;
    }

    .journey__delete {
        width: 30px;
        height: 30px;
        display: absolute;
        top: 455px;
        right:10px;
        background-image: url(/views/public/icon_delete.svg);
        background-repeat: no-repeat;
    }
}

@media (min-width: 540px) and (max-width: 749px) {
    .navigation__container {
        width: calc(100% - 21px);
        margin: 0 auto;
    }

    .main {
        width: calc(100% - 20px);
    }

    .journey__greet{
        margin: 40px 0 30px 10px ;
    }

    .journey__section {
        width: 100%;
        margin-left: 0px;
    }

    .section__image {
        padding: 0 10px 0 10px;
        margin: 0 auto;
        width: 95%;
    }

    .section__detail{
        padding-left: 6px;
        
    }

    .section__image {
        padding: 0 10px 0 10px;
        margin: 0 auto;
        width: 95%;
    }

    .contact__container {
        margin: 40px 0 40px 5px;
    }

    .contact__footer {
        line-height: 23.17px;
    }

    .payment__container {
        margin: 40px 0 0px 5px;
    }

    .confirm {
        padding: 40px 15px 62px 0;
    }

    .journey__delete {
        width: 30px;
        height: 30px;
        display: absolute;
        top: 455px;
        right:10px;
        background-image: url(/views/public/icon_delete.svg);
        background-repeat: no-repeat;
    }
}


@media (min-width: 750px) and (max-width: 960px) {
    .navigation__container {
        width: 90%;
    }

    .main {
        width: 90%;
    }

    .journey__greet{
        margin:40px 0 30px 40px;
    }

    .journey__section{
        margin-left: 40px;
    }


    .contact__container {
        margin:40px 0 40px 40px;
    }

    .payment__container {
        margin:40px 0 40px 40px;
    }

    .journey__delete {
        width: 30px;
        height: 30px;
        display: relative;
        right:10px;
        background-image: url(/views/public/icon_delete.svg);
        background-repeat: no-repeat;
    }
}

@media (min-width: 960px) and (max-width: 1280px) {
    
    .navigation__container {
        width: 90%;
    }

    .journey__delete {
        width: 30px;
        height: 30px;
        display: relative;
        right:10px;
        background-image: url(/views/public/icon_delete.svg);
        background-repeat: no-repeat;
    }

}

