.signin {
    width: 340px;
    height: 275px;
    /* height: 332px; */
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    position: fixed;
    top: 217.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    letter-spacing: 0.5px;

    display: none;
}

.signin__box {
    position: fixed;
    top: 10px;
    height: 265px;
    /* height: 322px; */
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
}

.signin__form {
    color: #666666;
}

.form__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 15px;
}


.form__name, .form__email, .form__password {
    width: 295px;
    height: 47px;
    border: none; 
    box-shadow: inset 0 0 0 1px #CCCCCC; 
    border-radius: 5px;
    margin: 0px 14px 10px 14px;
 
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: left;
    padding-left: 15px;
}

.form__name {
    display: none;
}

.form__submit {
    width: 310px;
    height: 47px;
    margin: 0px 15px 15px 15px;
    border: none;
    border-radius: 5px;
    background: #448899;

    color:#FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}

.form__footer {
    font-weight: 500;
    line-height: 13.3px;
    text-align: center;
}

.form__footer--register {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
}