body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.6px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
}

.navigation {
    border-bottom: 1px solid #E8E8E8; 
   }

/* navigation */
.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    margin: 0 auto;

    width: 1200px;
}

.navigation__left {
    color: #448899;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}

.navigation__right {
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.navigation__right-booking, .navigation__right-signin {
    padding: 10px;
}


/* section */
.section{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #E8E8E8; 
}

.section__image {
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    background-size: cover;
    background-position: center 0px;
    width: 540px;
    height: 400px;
    margin: 0 15px;
    border-radius: 5px;
    position: relative;
    animation: fade 2s linear 0s ;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image__arrow {
    position: absolute;
    top: 46%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.image__arrow--left, .image__arrow--right{
    width: 32px;
    height: 32px;
    background-position: center;
    border: none;
    margin:0 10px;
}

.image__arrow--left {
    background-image: url(/views/public/LeftArrow_Default.png);
}

.image__arrow--right {
    background-image: url(/views/public/RightArrow_Default.png);
}

.image__arrow--left:hover {
    opacity: 80%;
    background-image: url(/views/public/LeftArrow_Hovered.png);
}

.image__arrow--right:hover {
    opacity: 80%;
    background-image: url(/views/public/RightArrow_Hovered.png);
}


.image__circle {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    opacity: 75%;
}

  
.image__circle--black {
    width: 12px;
    height: 12px;
    margin: 0 6px ;
    background-image: url(/views/public/circle-b.svg);
}

.image__circle--white{
    width: 12px;
    height: 12px;
    margin: 0 6px ;
    background-image: url(/views/public/circle-w.svg);
}

.section__info {
    width: 600px;
    height: 400px;
    margin: 0 15px;
}

.section__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #666666;
    margin: 8px 0 20px 1px;
}

.section__subtitle {
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    color: #666666;
    margin: 0 0 25px 1px;
}

.section__booking {
    width: 600px;
    height: 302px;
    top: 90px;
    gap: 0px;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.booking__title {
    font-weight: 700;
    line-height: 13.3px;
    color: #666666;
    padding: 20px;
}

.booking__subtitle {
    font-weight: 400;
    line-height: 13.3px;
    color: #666666;
    padding: 0px 20px 20px 20px;
    margin-bottom: 5px;
}

.booking__date {
    font-weight: 700;
    line-height: 13.3px;
    color: #666666;
    padding: 0 20px 12px 20px;
}

.booking__date--Selector {
    width: 193px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.booking__time {
    font-weight: 700;
    line-height: 13.3px;
    color: #666666;
    padding: 0 20px 0px 20px;
    display: flex;
    align-items: center;
}

.booking__time--options {
    font-weight: 400; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking__time--radio {
    width: 24px; 
    height: 24px; 
    border-radius: 12px; 
    border: 2px solid #ffffff; 
    accent-color: gray;
    font-weight: 400; 
    margin: 5px;

     /* hide radio default */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
  
.booking__time--radio:checked {
    border: 2px solid #ffffff; 
    background-color: #448899; 
}


.booking__time--morning {
    margin-right: 10px;
}
  

.booking__cost {
    line-height: 13.3px;
    color: #666666;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
}


.booking__cost--label {
    font-weight: 700;
}


.booking__cost--amount {
    font-weight: 400;
}


.booking__submit {
    margin-left: 20px;
    width: 154px;
    height: 36px;
    font-size: 19px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px ;
    border-radius: 5px;
    background-color: #448899;
    color: #ffffff;
    border: 0px;
    letter-spacing: 1.0px;
}

/* main */
.main {
    width: 1200px;
    margin: 0 auto;
    color: #666666;
    display:flex;
    flex-direction: column;
    min-height: calc(100vh - 800px)
}


.main__description {
    padding: 50px 10px 25px 10px;
    font-weight: 400;
    line-height: 23.17px;
}


.main__address--title {
    padding: 10px;
    font-weight: 700;
    line-height: 13.3px;
}


.main__address--content {
    font-weight: 400;
    line-height: 23.17px;
    padding: 0 0 25px 10px;
}


.main__transport--title {
    padding:10px;
    font-weight: 700;
    line-height: 13.3px;
}


.main__transport--content {
    font-weight: 400;
    line-height: 23.17px;
    padding: 0 10px 0px 10px;
}


/* footer */
.footer {
    margin-top: 90px;
    height: 104px;
    background: #757575;
    display: flex;
    align-items: center;
}


.footer__text {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
}


@media (min-width: 360px) and (max-width: 400px) {
    .navigation__container {
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .section__image {
        width: 100%;
        height: 350px;
        margin: 0 0;
        margin-bottom: 25px;
        border-radius: 0px;
    }

    .section__info {
        width: calc(100% - 20px);
        margin: 0 10px ;
    }

    .section__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #666666;
        margin: 8px 0 20px 1px;
    }

    .section__booking {
        width: 100%;
        height: 300px;
    }

    .booking__subtitle {
        line-height: 23.17px;
        padding: 0px 20px 15px 20px;
        margin-bottom: 0px;
    }

    .booking__date {
        padding: 0 0 10px 20px ;
    }
    
    .booking__cost {
        padding: 15px 20px 20px 20px;
        margin-bottom: 5px;
    }

    .main {
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    .main__description {
        text-align: justify;
        padding: 50px 10px 30px 10px;
    }

    .main__address--content {
        padding: 0 0 30px 10px;
    }

    .main__transport--content {
        text-align: justify;
        padding: 0 10px 20px 10px;
    }
}

@media (min-width: 400px) and (max-width: 960px) {
    .navigation__container {
        width: 94%;
        margin: 0 auto;
    }

    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .section__image {
        background-position: center;
        width: 100%;
        height: 350px;
        margin: 0 auto;
        margin-bottom: 25px;
        border-radius: 0px;
    }

    .section__info {
        width: 93%;
        margin: 0 auto ;
    }

    .section__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #666666;
        margin: 8px 0 20px 1px;
    }

    .section__booking {
        width: 100%;
        height: 300px;
    }

    .booking__subtitle {
        line-height: 23.17px;
        padding: 0px 20px 15px 20px;
        margin-bottom: 0px;
    }

    .booking__date {
        padding: 0 0 10px 20px ;
    }
    
    .booking__cost {
        padding: 15px 20px 20px 20px;
        margin-bottom: 5px;
    }

    .main {
        width: 93%;
        margin: 0 auto;
    }

    .main__description {
        text-align: justify;
        padding: 50px 10px 30px 10px;
    }

    .main__address--content {
        padding: 0 0 30px 10px;
    }

    .main__transport--content {
        text-align: justify;
        padding: 0 10px 20px 10px;
    }
}

@media (min-width: 960px) and (max-width: 1280px) {
    .navigation {
        margin-bottom: 40px;
       }

    .navigation__container {
        width: 94%;
    }

    .section{
        width: 95%;
        display: flex;
        margin: 0 auto;
    }

    .section__image {
        width: 90%;
        margin-bottom: 25px;
    }

    .section__info {
        width: 90%;
    }

    .section__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #666666;
        margin: 8px 0 20px 1px;
    }

    .section__booking {
        width: 100%;
        height: 300px;
    }

    .booking__subtitle {
        line-height: 23.17px;
        
    }

    .booking__date {
        padding: 0 0 10px 20px ;
    }
    
    .booking__cost {
        padding: 15px 20px 20px 20px;
        margin-bottom: 5px;
    }

    .main {
        width: 93%;
        margin: 0 auto;
    }

    .main__description {
        text-align: justify;
        padding: 50px 10px 30px 10px;
    }

    .main__address--content {
        padding: 0 0 30px 10px;
    }

    .main__transport--content {
        text-align: justify;
    }
}